conda_pkgs/
.vscode/
code/data/zhspeechocean/1110/11101031.mp3
code/data/
*.tar
penv/
*.ext3
*.out
*.wav
.cache/
*.pyc
code/log/
code/__pycache__/
code/_assets/
pytorch-singularity/
*.mp3
music/data/
music/img.png
.DS_Store
music/checkpoint/
music/log/
code/checkpoint/
data/
senv/
.vscode-server/
